<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->
<h2>My Heroes</h2>
<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>
<div class="list-group d-inline-flex">
  <a routerLink="/detail/{{hero.id}}" class="list-group-item list-group-item-action" *ngFor="let hero of heroes">
    <span class="badge text-bg-primary rounded-pill">{{hero.id}}</span> 
    <span class="text-black ps-5 pe-5">{{hero.name}}</span>
    <button type="button" class="delete" title="delete" (click)="delete(hero, $event)">X</button>
  </a>
</div>